<script setup lang="ts">
import { onMounted, ref } from "vue";
import { RouterView } from "vue-router";
import { useAuth } from "@/services/auth";
import Notifications from "@/components/blocks/Notifications.vue";

const auth = useAuth();
const isLoading = ref(true);

onMounted(async () => {
  isLoading.value = true;

  await auth.loadUser();

  isLoading.value = false;
});
</script>

<template>
  <div v-if="isLoading">
    <p class="text-gray-600">Loading...</p>
  </div>

  <template v-else>
    <RouterView />
  </template>

  <notifications />
</template>
