<template>
  <button
    type="button"
    :class="[
      'inline-flex items-center rounded-md border py-2 text-sm font-medium focus:outline-none focus:ring-2 focus:ring-sky-500 focus:ring-offset-2',
      tight ? 'px-1' : 'px-4',
      {
        'border-transparent bg-sky-600 text-white shadow-sm hover:bg-sky-700': variant === 'primary',
        'border-transparent bg-transparent text-sky-600 hover:text-sky-900': variant === 'link',
      },
    ]"
  >
    <slot />
  </button>
</template>

<script setup lang="ts">
withDefaults(defineProps<{ variant?: "primary" | "link"; tight?: boolean }>(), { variant: "primary" });
</script>
