<template>
  <template v-if="value">
    <check-circle-icon class="inline h-5 w-5 text-emerald-600" />
  </template>
  <template v-else>
    <minus-small-icon class="inline h-5 w-5 text-rose-600" />
  </template>
</template>

<script setup lang="ts">
import { CheckCircleIcon, MinusSmallIcon } from "@heroicons/vue/24/outline";

defineProps<{ value?: boolean }>();
</script>
