<template>
  <div>
    <label v-if="$attrs.label" :for="id" class="block text-sm font-medium text-gray-700">{{ $attrs.label }}</label>
    <div :class="[$attrs.label ? 'mt-1' : '']">
      <input
        v-model="value"
        v-bind="$attrs"
        :id="id"
        :type="$attrs.type ?? 'text'"
        class="block w-full appearance-none rounded-md border border-gray-300 px-3 py-2 placeholder-gray-400 shadow-sm focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm"
      />
    </div>
  </div>
</template>

<script setup lang="ts">
import { useAttrs, defineProps, defineEmits, computed } from "vue";
import generateId from "@/utils/generateId";

const props = defineProps<{ modelValue: any }>();
const emit = defineEmits<{ (event: "update:modelValue", value: any): void }>();

const attrs = useAttrs();
const id = generateId(attrs.name as string);

const value = computed({
  get() {
    return props.modelValue;
  },
  set(v: any) {
    return emit("update:modelValue", v);
  },
});
</script>

<script lang="ts">
import { defineComponent } from "vue";

export default defineComponent({
  inheritAttrs: false,
});
</script>
