<template>
  <div class="flex items-center">
    <input
      v-model="value"
      v-bind="$attrs"
      :id="elementId"
      type="checkbox"
      class="h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-500"
    />
    <label :for="elementId" class="ml-2 block text-sm text-gray-900">
      <slot />
    </label>
  </div>
</template>

<script setup lang="ts">
import { computed, defineEmits, defineProps, useAttrs } from "vue";
import generateId from "@/utils/generateId";

const props = defineProps<{ modelValue: any }>();
const emit = defineEmits<{ (event: "update:modelValue", value: any): void }>();

const attrs = useAttrs();
const elementId = generateId(attrs.name as string);

const value = computed({
  get() {
    return props.modelValue;
  },
  set(v: any) {
    return emit("update:modelValue", v);
  },
});
</script>

<script lang="ts">
import { defineComponent } from "vue";

export default defineComponent({
  inheritAttrs: false,
});
</script>
