<template>
  <div class="md:flex md:items-center md:justify-between">
    <div class="min-w-0 flex-1">
      <slot />
    </div>
    <div v-if="$slots.actions" class="mt-4 flex md:mt-0 md:ml-4">
      <slot name="actions" />
    </div>
  </div>
</template>
