<template>
  <div class="space-y-2">
    <div v-for="(accounts, group) in groupedAccounts">
      <p class="text-sm text-slate-600 font-medium">{{ group !== "undefined" ? group : "- other -" }}</p>
      <div class="ml-2 flex items-center justify-between group hover:cursor-pointer" v-for="account in accounts">
        <p class="text-sm text-slate-700 group-hover:underline">{{ account.name }}</p>
        <p class="text-sm text-slate-600">
          {{ formatCurrency(account.current_balance, account.currency) }}
        </p>
      </div>
    </div>
  </div>
</template>

<script setup lang="ts">
import { computed } from "vue";
import groupBy from "lodash.groupby";
import formatCurrency from "@/utils/formatCurrency";

const props = defineProps<{ accounts: Account[] }>();

const groupedAccounts = computed(() => groupBy(props.accounts, (acc: Account) => acc.group?.name));
</script>
