<template>
  <div class="-mx-2">
    <table class="w-full overflow-hidden text-sm text-left text-gray-500 dark:text-gray-400">
      <tbody>
        <template v-for="category in categories" :key="category.id">
          <tr class="bg-white dark:bg-gray-800 hover:bg-gray-50 dark:hover:bg-gray-600">
            <th scope="row" class="py-4 pl-2 pr-6 font-medium text-gray-600 whitespace-nowrap dark:text-white">
              {{ category.name }}
            </th>
            <td class="py-4 pl-6 pr-2">
              <div class="flex flex-row items-center justify-end gap-2">
                <button
                  type="button"
                  class="text-sky-600 hover:text-sky-900"
                  title="Edit category"
                  @click="$emit('edit', category, null)"
                >
                  Edit<span class="sr-only">, {{ category.name }}</span>
                </button>

                <button type="button" class="text-sky-600 hover:text-sky-900" title="Remove category">
                  Remove<span class="sr-only">, {{ category.name }}</span>
                </button>
              </div>
            </td>
          </tr>

          <template v-if="category.sub_categories">
            <tr
              v-for="subCategory in category.sub_categories"
              class="bg-white dark:bg-gray-800 hover:bg-gray-50 dark:hover:bg-gray-600"
            >
              <th scope="row" class="py-2 px-6 font-medium text-gray-600 whitespace-nowrap dark:text-white">
                {{ subCategory.name }}
              </th>
              <td class="py-2 pl-6 pr-2">
                <div class="flex flex-row items-center justify-end gap-2">
                  <button
                    type="button"
                    class="text-sky-600 hover:text-sky-900"
                    title="Edit category"
                    @click="$emit('edit', subCategory, category)"
                  >
                    Edit<span class="sr-only">, {{ subCategory.name }}</span>
                  </button>

                  <button type="button" class="text-sky-600 hover:text-sky-900" title="Remove category">
                    Remove<span class="sr-only">, {{ subCategory.name }}</span>
                  </button>
                </div>
              </td>
            </tr>
          </template>
        </template>
      </tbody>
    </table>
  </div>
</template>

<script setup lang="ts">
defineEmits<{ (event: "edit", category: Category | SubCategory, parent: Category | null): void }>();
defineProps<{ categories: Category[] }>();
</script>
