<template>
  <teleport to="body">
    <transition-root as="template" :show="open">
      <Dialog as="div" class="relative z-10" @close="$emit('close')">
        <transition-child
          as="template"
          enter="ease-out duration-200"
          enter-from="opacity-0"
          enter-to="opacity-100"
          leave="ease-in duration-100"
          leave-from="opacity-100"
          leave-to="opacity-0"
        >
          <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity" />
        </transition-child>

        <div class="fixed inset-0 z-10 overflow-y-auto">
          <div class="flex min-h-full items-end justify-center p-4 text-center sm:items-center sm:p-0">
            <transition-child
              as="template"
              enter="ease-out duration-300"
              enter-from="opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
              enter-to="opacity-100 translate-y-0 sm:scale-100"
              leave="ease-in duration-200"
              leave-from="opacity-100 translate-y-0 sm:scale-100"
              leave-to="opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
            >
              <dialog-panel
                class="relative transform overflow-hidden rounded-md bg-white text-left shadow-xl transition-all sm:my-8 sm:w-full sm:max-w-lg"
              >
                <div class="bg-white px-4 py-4 sm:px-6 sm:py-6">
                  <div class="mt-4 text-center sm:mt-0 sm:text-left">
                    <dialog-title as="h3" class="text-xl font-medium leading-6 text-gray-900">
                      <slot name="title" />
                    </dialog-title>

                    <div class="mt-3">
                      <slot />
                    </div>
                  </div>
                </div>
              </dialog-panel>
            </transition-child>
          </div>
        </div>
      </Dialog>
    </transition-root>
  </teleport>
</template>

<script setup lang="ts">
import { Dialog, DialogPanel, DialogTitle, TransitionChild, TransitionRoot } from "@headlessui/vue";

defineProps<{ open: boolean; closeButton?: boolean }>();
defineEmits<{ (event: "close"): void }>();
</script>
