<template>
  <span
    class="flex absolute -left-3 justify-center items-center w-6 h-6 rounded-full ring-8 ring-white dark:ring-gray-900"
    :class="{
      'bg-gray-200 dark:bg-gray-900': transaction.type === 'transfer',
      'bg-emerald-200 dark:bg-emerald-900': transaction.type === 'income',
      'bg-rose-200 dark:bg-rose-900': transaction.type === 'expense',
    }"
  >
    <arrow-down-icon v-if="transaction.type === 'expense'" class="w-3 h-3 text-rose-600 dark:text-rose-400" />
    <arrow-up-icon v-if="transaction.type === 'income'" class="w-3 h-3 text-emerald-600 dark:text-emerald-400" />
    <arrows-right-left-icon v-if="transaction.type === 'transfer'" class="w-3 h-3 text-gray-600 dark:text-gray-400" />
  </span>
  <div class="flex items-start gap-4">
    <div class="flex-1">
      <div class="mb-1 flex items-center justify-between gap-4">
        <h3 class="text-sm text-slate-700 font-medium dark:text-white">{{ formatTitle() }}</h3>
        <p class="text-sm text-slate-700 font-medium dark:text-white">{{ formatAmount() }}</p>
      </div>
      <div class="mb-2 flex items-center justify-between gap-4">
        <time class="block text-sm font-normal leading-none text-slate-500 dark:text-slate-400">
          {{ formatDate() }}
        </time>
        <p class="text-sm text-slate-500 dark:text-slate-400">
          {{ formatAccountName() }}
        </p>
      </div>
    </div>
    <div class="flex items-center gap-2">
      <button
        class="text-sm text-sky-600 hover:text-sky-900"
        title="Edit transaction"
        @click="$emit('edit', transaction, transaction.type)"
      >
        <pencil-square-icon class="w-4 h-4" />
      </button>
      <button
        class="text-sm text-slate-500 hover:text-slate-800"
        title="Remove transaction"
        @click="$emit('remove', transaction)"
      >
        <trash-icon class="w-4 h-4" />
      </button>
    </div>
  </div>
  <p v-if="transaction.description" class="mb-2 text-sm font-normal text-gray-500 dark:text-gray-400">
    {{ transaction.description }}
  </p>
</template>

<script setup lang="ts">
import type { TransactionType } from "@/constants";
import { ArrowDownIcon, ArrowUpIcon, ArrowsRightLeftIcon } from "@heroicons/vue/20/solid";
import { PencilSquareIcon, TrashIcon } from "@heroicons/vue/24/outline";
import formatCurrency from "@/utils/formatCurrency";
import formatAccountFullName from "@/utils/formatAccountFullName";

defineEmits<{
  (event: "edit", transaction: Transaction, type: TransactionType): Promise<void>;
  (event: "remove", transaction: Transaction): Promise<void>;
}>();

const props = defineProps<{ transaction: Transaction }>();

const formatDate = () => new Date(props.transaction.transaction_date).toDateString();

const formatTitle = () => {
  switch (props.transaction.type) {
    case "expense":
      return props.transaction.category?.full_name ?? "General expense";
    case "income":
      return props.transaction.category?.full_name ?? "General income";
    case "transfer":
      return `${props.transaction.account_from?.name} ⇆ ${props.transaction.account_to?.name}`;
  }
};

const formatAccountName = () => {
  switch (props.transaction.type) {
    case "expense":
      return props.transaction.account_from ? formatAccountFullName(props.transaction.account_from) : "";
    case "income":
      return props.transaction.account_to ? formatAccountFullName(props.transaction.account_to) : "";
    case "transfer":
      return "";
  }
};

const formatAmount = () => {
  const expenseAmount = props.transaction.account_from
    ? formatCurrency(props.transaction.amount_from, props.transaction.account_from.currency)
    : "";
  const incomeAmount = props.transaction.account_to
    ? formatCurrency(props.transaction.amount_to, props.transaction.account_to.currency)
    : "";

  switch (props.transaction.type) {
    case "expense":
      return expenseAmount;
    case "income":
      return incomeAmount;
    case "transfer":
      return `${expenseAmount} ⇆ ${incomeAmount}`;
  }
};
</script>
