<template>
  <transition name="expand" @enter="enter" @after-enter="afterEnter" @leave="leave">
    <slot />
  </transition>
</template>

<script setup lang="ts">
const enter = (element: HTMLElement) => {
  element.style.width = getComputedStyle(element).width;
  element.style.position = "absolute";
  element.style.visibility = "hidden";
  element.style.height = "auto";

  const height = getComputedStyle(element).height;

  element.style.width = "";
  element.style.position = "";
  element.style.visibility = "";
  element.style.height = "0";

  // Force repaint to make sure the
  // animation is triggered correctly.
  getComputedStyle(element).height;

  // Trigger the animation.
  // We use `requestAnimationFrame` because we need
  // to make sure the browser has finished
  // painting after setting the `height`
  // to `0` in the line above.
  requestAnimationFrame(() => {
    element.style.height = height;
  });
};

const afterEnter = (element: HTMLElement) => {
  element.style.height = "auto";
};

const leave = (element: HTMLElement) => {
  element.style.height = getComputedStyle(element).height;

  // Force repaint to make sure the
  // animation is triggered correctly.
  getComputedStyle(element).height;

  requestAnimationFrame(() => {
    element.style.height = "0";
  });
};
</script>

<style>
.expand-enter-active,
.expand-leave-active {
  transition-property: opacity, height;
  transition: 300ms ease-in-out;
  overflow: hidden;
}

.expand-enter,
.expand-leave-to {
  height: 0;
  opacity: 0;
}
</style>

<style scoped>
* {
  will-change: height;
  transform: translateZ(0);
  backface-visibility: hidden;
  perspective: 1000px;
}
</style>
