<template>
  <form-kit type="form" :id="formId" :actions="false" v-model="form" @submit="handleSubmit">
    <div>
      <form-kit
        type="text"
        name="name"
        label="Group name"
        placeholder="My Wallets"
        validation="required"
        autofocus
        required
      />
    </div>

    <div class="mt-3 sm:flex sm:flex-row-reverse sm:gap-3">
      <app-button type="submit">
        <loading-icon v-if="isProcessing" class="animate-spin h-5 w-5 text-white" />
        <template v-else>Save</template>
      </app-button>
      <app-button type="button" variant="link" @click.prevent="$emit('cancel')">Cancel</app-button>
    </div>
  </form-kit>
</template>

<script setup lang="ts">
import { computed, reactive, ref } from "vue";
import AppButton from "@/components/elements/AppButton.vue";
import LoadingIcon from "@/components/icons/LoadingIcon.vue";

const emit = defineEmits<{ (event: "cancel"): void }>();
const props = defineProps<{ processSubmit: (data: AccountGroupData) => Promise<void>; group?: AccountGroup | null }>();

const isProcessing = ref(false);
const formId = computed(() => (props.group?.id ? `group-form-${props.group.id}` : `group-form-new`));
const form: AccountGroupData = reactive(props.group ? { name: props.group.name } : { name: "" });

const handleSubmit = async (data: AccountGroupData) => {
  isProcessing.value = true;

  await props.processSubmit(data);

  isProcessing.value = false;
  emit("cancel");
};
</script>
