<template>
  <form-kit type="form" :id="formId" :actions="false" v-model="form" @submit="handleSubmit">
    <div class="grid grid-cols-1 sm:grid-cols-2 gap-6">
      <div class="sm:col-span-2">
        <form-kit
          type="text"
          name="name"
          label="Account name"
          placeholder="My Wallet"
          validation="required"
          autofocus
          required
        />
      </div>

      <div class="sm:col-span-2">
        <form-kit type="select" name="group_id" label="Group" :options="groupOptions" />
      </div>

      <form-kit type="select" name="currency" label="Currency" :options="CURRENCIES" />

      <form-kit type="number" name="opening_balance" label="Opening balance" step="0.01" />

      <div class="sm:col-span-2">
        <form-kit
          type="checkbox"
          name="is_active"
          label="Is active?"
          help="Mark this account as active or historical"
        />
      </div>
    </div>

    <div class="mt-3 sm:flex sm:flex-row-reverse sm:gap-3">
      <app-button type="submit">
        <loading-icon v-if="isProcessing" class="animate-spin h-5 w-5 text-white" />
        <template v-else>Save</template>
      </app-button>
      <app-button type="button" variant="link" @click.prevent="$emit('cancel')">Cancel</app-button>
    </div>
  </form-kit>
</template>

<script setup lang="ts">
import { computed, reactive, ref } from "vue";
import { reset } from "@formkit/core";
import { CURRENCIES } from "@/constants";
import AppButton from "@/components/elements/AppButton.vue";
import LoadingIcon from "@/components/icons/LoadingIcon.vue";

const emit = defineEmits<{ (event: "cancel"): void }>();

const props = withDefaults(
  defineProps<{
    groups: AccountGroup[];
    account?: Account | null;
    processSubmit: (data: AccountData) => Promise<void>;
    resetForm?: boolean;
    closeForm?: boolean;
  }>(),
  { resetForm: true }
);

const isProcessing = ref(false);

const form: AccountData = reactive(
  props.account
    ? {
        name: props.account.name,
        currency: props.account.currency,
        opening_balance: props.account.opening_balance,
        is_active: props.account.is_active,
        group_id: props.account.group_id,
      }
    : {
        name: "",
        currency: "UAH",
        opening_balance: 0,
        is_active: true,
        group_id: null,
      }
);

const formId = computed(() => (props.account?.id ? `account-form-${props.account.id}` : `account-form-new`));

const groupOptions = computed(() => [
  { label: "- no group -", value: 0 },
  ...props.groups.map((group) => ({ label: group.name, value: group.id })),
]);

const handleSubmit = async (data: AccountData) => {
  isProcessing.value = true;

  if (data.group_id == 0) data.group_id = null;

  await props.processSubmit(data);

  if (props.resetForm) reset(formId.value);

  isProcessing.value = false;

  if (props.closeForm) emit("cancel");
};
</script>
