<template>
  <form-kit type="form" :id="formId" :actions="false" v-model="form" @submit="handleSubmit">
    <div class="space-y-4">
      <form-kit
        type="text"
        name="name"
        label="Category name"
        placeholder="Food and groceries"
        validation="required"
        autofocus
        required
      />

      <form-kit
        type="select"
        name="parent_id"
        label="Parent category"
        :disabled="category?.sub_categories.length > 0"
        :options="parentCategories"
      />

      <form-kit type="checkbox" name="is_expense" label="Is expense?" help="Mark this category as expense category" />
    </div>

    <div class="mt-3 sm:flex sm:flex-row-reverse sm:gap-3">
      <app-button type="submit">
        <loading-icon v-if="isProcessing" class="animate-spin h-5 w-5 text-white" />
        <template v-else>Save category</template>
      </app-button>
      <app-button type="button" variant="link" @click.prevent="$emit('cancel')">Cancel</app-button>
    </div>
  </form-kit>
</template>

<script setup lang="ts">
import { computed, reactive, watch } from "vue";
import { useCategoriesStore } from "@/stores/categories";
import AppButton from "@/components/elements/AppButton.vue";
import LoadingIcon from "@/components/icons/LoadingIcon.vue";

const emits = defineEmits<{ (event: "cancel"): void; (event: "submit", data: CategoryData): Promise<void> }>();
const props = defineProps<{ category: Category | null; isProcessing?: boolean }>();

const store = useCategoriesStore();

const form: CategoryData = reactive(
  props.category
    ? {
        name: props.category.name,
        parent_id: props.category.parent_id,
        is_expense: props.category.is_expense,
      }
    : {
        name: "",
        parent_id: null,
        is_expense: true,
      }
);
const isExpense = computed(() => form.is_expense);
const formId = computed(() => (props.category?.id ? `category-form-${props.category.id}` : `category-form-new`));
const parentCategories = computed<SelectOptions>(() => [
  { label: "- no group -", value: 0 },
  ...(form.is_expense ? store.expenses : store.incomes).map((c) => ({ label: c.name, value: c.id })),
]);

const handleSubmit = async (data: CategoryData) => {
  if (data.parent_id == 0) data.parent_id = null;
  await emits("submit", data);
};

watch(isExpense, () => {
  form.parent_id = null;
});
</script>
