<template>
  <form-kit type="form" :id="formId" :actions="false" v-model="form" @submit="handleSubmit">
    <div class="grid grid-cols-1 md:grid-cols-3 gap-6">
      <form-kit type="date" name="transaction_date" label="Date" validation="required" required />
      <div class="md:col-span-2">
        <form-kit
          v-if="type !== 'transfer'"
          type="select"
          name="category_id"
          label="Category"
          :options="categoryOptions"
        />
      </div>

      <template v-if="type !== 'income'">
        <div class="md:col-span-2">
          <form-kit type="select" name="account_from_id" label="Account" :options="accountsFromOptions" />
        </div>
        <form-kit type="number" name="amount_from" step="0.01" label="Amount" />
      </template>

      <template v-if="type !== 'expense'">
        <div class="md:col-span-2">
          <form-kit type="select" name="account_to_id" label="Account" :options="accountsToOptions" />
        </div>
        <form-kit type="number" name="amount_to" step="0.01" label="Amount" />
      </template>

      <div class="md:col-span-3">
        <form-kit type="textarea" name="description" label="Description" />
      </div>
    </div>

    <div class="mt-3 sm:flex sm:flex-row-reverse sm:gap-3">
      <app-button type="submit">
        <loading-icon v-if="isProcessing" class="animate-spin h-5 w-5 text-white" />
        <template v-else>Save</template>
      </app-button>
      <app-button type="button" variant="link" @click.prevent="$emit('cancel')">Cancel</app-button>
    </div>
  </form-kit>
</template>

<script setup lang="ts">
import type { TransactionType } from "@/constants";
import { computed, reactive } from "vue";
import { useAccountsStore } from "@/stores/accounts";
import { useCategoriesStore } from "@/stores/categories";
import formatAccountFullName from "@/utils/formatAccountFullName";
import AppButton from "@/components/elements/AppButton.vue";
import LoadingIcon from "@/components/icons/LoadingIcon.vue";

const emits = defineEmits<{ (event: "cancel"): void; (event: "submit", data: TransactionData): Promise<void> }>();
const props = defineProps<{ transaction: Transaction | null; type: TransactionType; isProcessing?: boolean }>();

const accountsStore = useAccountsStore();
const categoriesStore = useCategoriesStore();

const formId = computed(() =>
  props.transaction?.id ? `transaction-form-${props.transaction.id}` : `transaction-form-new`
);

const categoryOptions = computed<SelectOptions>(() => {
  if (props.type === "transfer") return [];

  return (props.type === "expense" ? categoriesStore.expenses : categoriesStore.incomes).flatMap((category) => {
    return [
      { label: category.name, value: category.id },
      ...(category.sub_categories
        ? category.sub_categories.map((item) => ({ label: item.full_name, value: item.id }))
        : []),
    ];
  });
});

const form: TransactionData = reactive(
  props.transaction
    ? {
        transaction_date: props.transaction.transaction_date,
        description: props.transaction.description,
        category_id: props.transaction.category_id,
        account_from_id: props.transaction.account_from_id,
        account_to_id: props.transaction.account_to_id,
        amount_from: props.transaction.amount_from,
        amount_to: props.transaction.amount_to,
      }
    : {
        transaction_date: new Date().toISOString().slice(0, 10),
        description: "",
        category_id: 0,
        account_from_id: 0,
        account_to_id: 0,
        amount_from: 0,
        amount_to: 0,
      }
);

const accountsFromOptions = computed<SelectOptions>(() => {
  return [
    { label: "Select account", value: 0 },
    ...(form.account_to_id
      ? accountsStore.data.filter((acc) => acc.id !== form.account_to_id)
      : accountsStore.data
    ).map((acc) => ({ label: formatAccountFullName(acc), value: acc.id })),
  ];
});

const accountsToOptions = computed<SelectOptions>(() => {
  return [
    { label: "Select account", value: 0 },
    ...(form.account_from_id
      ? accountsStore.data.filter((acc) => acc.id !== form.account_from_id)
      : accountsStore.data
    ).map((acc) => ({ label: formatAccountFullName(acc), value: acc.id })),
  ];
});

const handleSubmit = async (data: TransactionData) => {
  if (data.category_id === 0) data.category_id = null;
  if (data.account_from_id === 0) data.account_from_id = null;
  if (data.account_to_id === 0) data.account_to_id = null;

  await emits("submit", data);
};
</script>
