<script setup lang="ts">
import { onMounted, ref } from "vue";
import { notify } from "notiwind";
import { useGroups } from "@/services/groups";
import { useAccounts } from "@/services/accounts";
import AppLayout from "@/components/layouts/AppLayout.vue";
import PageHeader from "@/components/elements/PageHeader.vue";
import PageTitle from "@/components/elements/PageTitle.vue";
import AppButton from "@/components/elements/AppButton.vue";
import BooleanMark from "@/components/elements/BooleanMark.vue";
import AccountForm from "@/components/forms/AccountForm.vue";
import AccountGroupForm from "@/components/forms/AccountGroupForm.vue";
import Card from "@/components/blocks/Card.vue";
import AlertMessage from "@/components/blocks/AlertMessage.vue";
import Modal from "@/components/blocks/Modal.vue";

const groups = useGroups();
const accounts = useAccounts();

const showForm = ref(false);
const showGroupForm = ref(false);
const activeAccount = ref<Account | null>(null);
const activeGroup = ref<AccountGroup | null>(null);

const getGroups = (): { id: number | null; name: string; accounts: Account[] }[] => {
  const groupedAccounts = accounts.state.groupedAccounts;

  return [
    ...groups.state.data.map((group) => ({ ...group, accounts: groupedAccounts[group.id] ?? [] })),
    { id: null, name: "- no group -", accounts: groupedAccounts[0] ?? [] },
  ];
};

const openForm = (account: Account | null) => {
  activeAccount.value = account;
  showForm.value = true;
};

const openGroupForm = (group: AccountGroup | null) => {
  activeGroup.value = group;
  showGroupForm.value = true;
};

const processSubmit = async (data: AccountData) => {
  if (activeAccount.value) {
    await accounts.update(activeAccount.value.id, data);
    notify(
      {
        title: "Account updated",
        text: "Account has been successfully updated",
        type: "success",
      },
      4000
    );
  } else {
    await accounts.create(data);
    notify(
      {
        title: "Account created",
        text: "Account has been successfully created",
        type: "success",
      },
      4000
    );
  }
};

const processGroupSubmit = async (data: AccountGroupData) => {
  if (activeGroup.value) {
    await groups.update(activeGroup.value.id, data);
    notify(
      {
        title: "Group updated",
        text: "Account group has been successfully updated",
        type: "success",
      },
      4000
    );
  } else {
    await groups.create(data);
    notify(
      {
        title: "Group created",
        text: "Account group has been successfully created",
        type: "success",
      },
      4000
    );
  }
};

const removeAccount = async (account: Account) => {
  if (!confirm("Warning! This is a destructive operation. All related transactions will be removed too. Continue?")) {
    return;
  }

  await accounts.remove(account.id);

  notify(
    {
      title: "Account removed",
      text: "Account has been successfully removed",
      type: "success",
    },
    4000
  );
};

const removeGroup = async (group: AccountGroup) => {
  if (!confirm("Warning! Selected group will be removed. Continue?")) {
    return;
  }

  await groups.remove(group.id);
  await accounts.load(false);

  notify(
    {
      title: "Group removed",
      text: "Account group has been successfully removed",
      type: "success",
    },
    4000
  );
};

onMounted(async () => {
  await Promise.all([groups.load(), accounts.load()]);
});
</script>

<template>
  <app-layout>
    <template v-slot:header>
      <page-header>
        <page-title>Accounts</page-title>

        <template #actions>
          <div class="flex flex-row items-center gap-2">
            <app-button variant="link" @click="openForm(null)">Add account</app-button>
            <app-button variant="link" @click="openGroupForm(null)">Add group</app-button>
          </div>
        </template>
      </page-header>
    </template>

    <alert-message v-if="accounts.state.error" class="mb-4">{{ accounts.state.error }}</alert-message>

    <modal :open="showForm" @close="showForm = false">
      <template #title>{{ activeAccount ? "Edit account" : "Add account" }}</template>

      <account-form
        :account="activeAccount"
        :groups="groups.state.data"
        :process-submit="processSubmit"
        close-form
        @cancel="showForm = false"
      />
    </modal>

    <modal :open="showGroupForm" @close="showGroupForm = false">
      <template #title>{{ activeGroup ? "Edit group" : "Add group" }}</template>

      <account-group-form :group="activeGroup" :process-submit="processGroupSubmit" @cancel="showGroupForm = false" />
    </modal>

    <card v-if="accounts.state.isLoading">
      <p class="text-sm text-gray-600">Loading...</p>
    </card>

    <card v-else>
      <div class="overflow-x-auto relative">
        <table class="w-full rounded-md overflow-hidden text-sm text-left text-gray-500 dark:text-gray-400">
          <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
              <th scope="col" class="py-3 px-6">Account</th>
              <th scope="col" class="py-3 px-6">Opening balance</th>
              <th scope="col" class="py-3 px-6">Current balance</th>
              <th scope="col" class="py-3 px-6">Is active?</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            <template v-for="group in getGroups()" :key="group.id">
              <tr class="bg-white dark:bg-gray-800 hover:bg-gray-50 dark:hover:bg-gray-600">
                <th
                  scope="row"
                  colspan="4"
                  class="pt-8 pb-4 px-6 font-medium text-gray-900 whitespace-nowrap dark:text-white"
                >
                  {{ group.name }}
                </th>
                <td class="pt-8 pb-4 px-6">
                  <div v-if="group.id" class="flex flex-row items-center justify-end gap-2">
                    <button
                      type="button"
                      class="text-sky-600 hover:text-sky-900"
                      title="Edit group"
                      @click="openGroupForm(group)"
                    >
                      Edit<span class="sr-only">, {{ group.name }}</span>
                    </button>

                    <button
                      type="button"
                      class="text-sky-600 hover:text-sky-900"
                      title="Remove group"
                      @click="removeGroup(group)"
                    >
                      Remove<span class="sr-only">, {{ group.name }}</span>
                    </button>
                  </div>
                </td>
              </tr>
              <tr
                v-for="account in group.accounts"
                :key="account.id"
                class="bg-white dark:bg-gray-800 hover:bg-gray-50 dark:hover:bg-gray-600"
              >
                <th scope="row" class="py-4 px-6 font-medium text-gray-600 whitespace-nowrap dark:text-white">
                  {{ account.name }}
                </th>
                <td class="py-4 px-6">{{ account.opening_balance }} {{ account.currency }}</td>
                <td class="py-4 px-6">{{ account.current_balance }} {{ account.currency }}</td>
                <td class="py-4 px-6">
                  <boolean-mark :value="account.is_active" />
                </td>
                <td class="py-4 px-6">
                  <div class="flex flex-row items-center justify-end gap-2">
                    <button
                      type="button"
                      class="text-sky-600 hover:text-sky-900"
                      title="Edit account"
                      @click="openForm(account)"
                    >
                      Edit<span class="sr-only">, {{ account.name }}</span>
                    </button>

                    <button
                      type="button"
                      class="text-sky-600 hover:text-sky-900"
                      title="Remove account"
                      @click="removeAccount(account)"
                    >
                      Remove<span class="sr-only">, {{ account.name }}</span>
                    </button>
                  </div>
                </td>
              </tr>
            </template>
          </tbody>
        </table>
      </div>
    </card>
  </app-layout>
</template>
