<script setup lang="ts">
import { onMounted, ref } from "vue";
import { notify } from "notiwind";
import isSubCategory from "@/utils/isSubCategory";
import { useCategories } from "@/services/categories";
import AppLayout from "@/components/layouts/AppLayout.vue";
import AlertMessage from "@/components/blocks/AlertMessage.vue";
import Card from "@/components/blocks/Card.vue";
import Modal from "@/components/blocks/Modal.vue";
import AppButton from "@/components/elements/AppButton.vue";
import PageTitle from "@/components/elements/PageTitle.vue";
import PageHeader from "@/components/elements/PageHeader.vue";
import SubTitle from "@/components/elements/SubTitle.vue";
import CategoriesList from "@/components/blocks/CategoriesList.vue";
import CategoryForm from "@/components/forms/CategoryForm.vue";

const categories = useCategories();

const showModal = ref(false);
const isProcessing = ref(false);
const activeCategory = ref<Category | null>(null);

const openModal = (category: Category | SubCategory | null, parent: Category | null) => {
  let value: Category | null;

  if (category && isSubCategory(category)) {
    value = {
      ...category,
      parent: parent ? { id: parent.id, name: parent.name, full_name: parent.full_name } : null,
      parent_id: parent ? parent.id : null,
      is_expense: parent ? parent.is_expense : true,
      sub_categories: [],
      created_at: "",
      updated_at: "",
    };
  } else {
    value = category;
  }

  activeCategory.value = value;
  showModal.value = true;
};
const closeModal = () => (showModal.value = false);

const handleSubmit = async (data: CategoryData) => {
  let notificationTitle, notificationMessage;
  let category;

  if (activeCategory.value) {
    category = await categories.update(activeCategory.value.id, data);
    notificationTitle = "Category updated";
    notificationMessage = "Category has been successfully updated";
  } else {
    category = await categories.create(data);
    notificationTitle = "Category added";
    notificationMessage = "Category has been successfully added";
  }

  if (!category) {
    return;
  }

  await categories.load(false);

  closeModal();
  notify(
    {
      title: notificationTitle,
      text: notificationMessage,
      type: "success",
    },
    4000
  );
};

onMounted(async () => {
  await categories.load();
});
</script>

<template>
  <app-layout>
    <template v-slot:header>
      <page-header>
        <page-title>Categories</page-title>

        <template #actions>
          <app-button variant="link" @click="openModal(null, null)">Add category</app-button>
        </template>
      </page-header>
    </template>

    <alert-message v-if="categories.state.error" class="mb-4">{{ categories.state.error }}</alert-message>

    <modal :open="showModal" @close="closeModal">
      <template #title>{{ activeCategory ? "Edit category" : "Add category" }}</template>

      <category-form
        :category="activeCategory"
        :is-processing="isProcessing"
        @submit="handleSubmit"
        @cancel="closeModal"
      />
    </modal>

    <card v-if="categories.state.isLoading">
      <p class="text-sm text-gray-600">Loading...</p>
    </card>

    <div v-else class="grid grid-cols-1 md:grid-cols-2 gap-6">
      <card>
        <sub-title>Expenses</sub-title>
        <p class="text-sm text-gray-500">This is your expense categories</p>

        <categories-list class="mt-1" :categories="categories.state.expenses" @edit="openModal" />
      </card>

      <card>
        <sub-title>Incomes</sub-title>
        <p class="text-sm text-gray-500">This is your income categories</p>

        <categories-list class="mt-1" :categories="categories.state.incomes" @edit="openModal" />
      </card>
    </div>
  </app-layout>
</template>
