<template>
  <empty-layout>
    <div class="sm:mx-auto sm:w-full sm:max-w-md">
      <img class="mx-auto h-12 w-auto" src="/logo.png" alt="Finance Tracker" />
      <h2 class="mt-6 text-center text-3xl font-bold tracking-tight text-gray-900">Sign in</h2>
    </div>

    <div class="mt-8 sm:mx-auto sm:w-full sm:max-w-md">
      <div class="bg-white py-8 px-4 shadow sm:rounded-lg sm:px-10">
        <form-kit type="form" :actions="false" v-model="form" @submit="handleSubmit">
          <div class="space-y-4">
            <div v-if="auth.state.error" class="p-2 rounded border border-rose-300 bg-rose-100">
              <p class="text-sm text-rose-600">{{ auth.state.error }}</p>
            </div>

            <form-kit
              type="text"
              name="username"
              label="Username"
              placeholder="john"
              autocomplete="username"
              validation="required"
            />
            <form-kit
              type="password"
              label="Password"
              name="password"
              autocomplete="current-password"
              validation="required"
            />

            <div class="flex items-center justify-between">
              <form-kit type="checkbox" label="Remember me" name="remember_me" />

              <div class="text-sm">
                <a href="#" class="link">Forgot your password?</a>
              </div>
            </div>

            <div>
              <button
                type="submit"
                class="rounded-md border border-transparent bg-indigo-600 py-2 px-4 text-sm font-medium text-white shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2"
                :disabled="auth.state.isLoading"
              >
                <loading-icon v-if="auth.state.isLoading" class="animate-spin h-5 w-5 text-white" />
                <template v-else>Sign in</template>
              </button>
            </div>
          </div>
        </form-kit>

        <div class="mt-6">
          <p class="text-gray-600 text-sm">
            Don't have an account? <router-link :to="{ name: 'register' }" class="link">Sign up here</router-link>
          </p>
        </div>
      </div>
    </div>
  </empty-layout>
</template>

<script setup lang="ts">
import { reactive } from "vue";
import { useAuth } from "@/services/auth";
import { useRouter } from "vue-router";
import EmptyLayout from "@/components/layouts/EmptyLayout.vue";
import LoadingIcon from "@/components/icons/LoadingIcon.vue";

const auth = useAuth();
const router = useRouter();

const form = reactive({
  username: "",
  password: "",
  remember_me: true,
});

const handleSubmit = async (data: typeof form) => {
  const user = await auth.login({ username: data.username, password: data.password }, data.remember_me);
  if (user) {
    await router.push({ name: "dashboard" });
  }
};
</script>
