<script setup lang="ts">
import AppLayout from "@/components/layouts/AppLayout.vue";
import PageTitle from "@/components/elements/PageTitle.vue";
import Card from "@/components/blocks/Card.vue";
</script>

<template>
  <app-layout>
    <template v-slot:header>
      <page-title>Profile</page-title>
    </template>

    <card>
      <h1>This is the profile page</h1>
    </card>
  </app-layout>
</template>
