<template>
  <empty-layout>
    <div class="sm:mx-auto sm:w-full sm:max-w-md">
      <img class="mx-auto h-12 w-auto" src="/logo.png" alt="Finance Tracker" />
      <h2 class="mt-6 text-center text-3xl font-bold tracking-tight text-gray-900">Sign up</h2>
    </div>

    <div class="mt-8 sm:mx-auto sm:w-full sm:max-w-md">
      <div class="bg-white py-8 px-4 shadow sm:rounded-lg sm:px-10">
        <form-kit type="form" :actions="false" v-model="form" @submit="handleSubmit">
          <div class="space-y-4">
            <div v-if="auth.state.error" class="p-2 rounded border border-rose-300 bg-rose-100">
              <p class="text-sm text-rose-600">{{ auth.state.error }}</p>
            </div>

            <form-kit
              type="text"
              name="username"
              label="Username"
              placeholder="john"
              autocomplete="username"
              validation="required"
            />
            <form-kit
              type="email"
              name="email"
              label="Email"
              placeholder="john@example.com"
              validation="required|email"
            />
            <form-kit
              type="password"
              label="Password"
              name="password"
              autocomplete="new-password"
              validation="required"
            />

            <div>
              <button
                type="submit"
                class="flex w-full justify-center rounded-md border border-transparent bg-indigo-600 py-2 px-4 text-sm font-medium text-white shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 disabled:opacity-75 disabled:cursor-not-allowed"
                :disabled="auth.state.isLoading"
              >
                <loading-icon v-if="auth.state.isLoading" class="animate-spin h-5 w-5 text-white" />
                <template v-else>Sign up</template>
              </button>
            </div>
          </div>
        </form-kit>

        <div class="mt-6">
          <p class="text-gray-600 text-sm">
            Already have an account? <router-link :to="{ name: 'login' }" class="link">Sign in here</router-link>
          </p>
        </div>
      </div>
    </div>
  </empty-layout>
</template>

<script setup lang="ts">
import { reactive } from "vue";
import { useRouter } from "vue-router";
import { useAuth } from "@/services/auth";
import EmptyLayout from "@/components/layouts/EmptyLayout.vue";
import LoadingIcon from "@/components/icons/LoadingIcon.vue";

const auth = useAuth();
const router = useRouter();

const form = reactive<RegisterData>({
  username: "",
  email: "",
  password: "",
});

const handleSubmit = async () => {
  const user = await auth.register(form);
  if (user) {
    await router.push({ name: "dashboard" });
  }
};
</script>
