<script setup lang="ts">
import type { TransactionType } from "@/constants";
import { onMounted, ref } from "vue";
import { notify } from "notiwind";
import { useAccounts } from "@/services/accounts";
import { useCategories } from "@/services/categories";
import { useTransactions } from "@/services/transactions";
import AppLayout from "@/components/layouts/AppLayout.vue";
import AlertMessage from "@/components/blocks/AlertMessage.vue";
import Card from "@/components/blocks/Card.vue";
import TransactionItem from "@/components/blocks/TransactionItem.vue";
import Modal from "@/components/blocks/Modal.vue";
import AppButton from "@/components/elements/AppButton.vue";
import PageTitle from "@/components/elements/PageTitle.vue";
import PageHeader from "@/components/elements/PageHeader.vue";
import TransactionForm from "@/components/forms/TransactionForm.vue";
import AccountsOverview from "@/components/blocks/AccountsOverview.vue";

const transactions = useTransactions();
const accounts = useAccounts();
const categories = useCategories();

const showModal = ref(false);
const transactionType = ref<TransactionType>("expense");
const activeTransaction = ref<Transaction | null>(null);
const isProcessing = ref(false);

const openModal = (transaction: Transaction | null, type: TransactionType) => {
  transactionType.value = type;
  activeTransaction.value = transaction;
  showModal.value = true;
};
const closeModal = () => (showModal.value = false);

const handleSubmit = async (data: TransactionData) => {
  isProcessing.value = true;

  let notificationTitle, notificationMessage;
  let transaction;

  if (activeTransaction.value) {
    transaction = await transactions.update(activeTransaction.value.id, data);
    notificationTitle = "Transaction updated";
    notificationMessage = "Transaction has been successfully updated";
  } else {
    transaction = await transactions.create(data);
    notificationTitle = "Transaction added";
    notificationMessage = "Transaction has been successfully added";
  }

  isProcessing.value = false;

  if (!transaction) return;

  await transactions.load(false);
  await accounts.load(false);

  closeModal();
  notify(
    {
      title: notificationTitle,
      text: notificationMessage,
      type: "success",
    },
    4000
  );
};

const handleRemove = async (transaction: Transaction) => {
  if (!confirm("Are you sure you want to remove this transaction?")) return;

  const ok = await transactions.remove(transaction.id);
  if (!ok) return;

  await transactions.load(false);
  await accounts.load(false);

  notify(
    {
      title: "Transaction removed",
      text: "Transaction has been successfully removed",
      type: "success",
    },
    4000
  );
};

onMounted(async () => {
  await Promise.all([accounts.load(), categories.load(), transactions.load()]);
});
</script>

<template>
  <app-layout>
    <template v-slot:header>
      <page-header>
        <page-title>Transactions</page-title>

        <template #actions>
          <div class="flex items-center">
            <p class="mr-1 text-sm text-slate-600 font-medium">Add</p>
            <app-button tight variant="link" @click="openModal(null, 'expense')">expense</app-button>
            <app-button tight variant="link" @click="openModal(null, 'income')">income</app-button>
            <app-button tight variant="link" @click="openModal(null, 'transfer')">transfer</app-button>
          </div>
        </template>
      </page-header>
    </template>

    <alert-message v-if="transactions.state.error" class="mb-4">{{ transactions.state.error }}</alert-message>

    <modal :open="showModal" @close="closeModal">
      <template #title>Add transaction</template>

      <transaction-form
        :transaction="activeTransaction"
        :type="transactionType"
        :is-processing="isProcessing"
        @submit="handleSubmit"
        @cancel="closeModal"
      />
    </modal>

    <card v-if="transactions.state.isLoading">
      <p class="text-sm text-gray-600">Loading...</p>
    </card>

    <div v-else class="grid grid-cols-1 md:grid-cols-3 gap-6">
      <card class="md:col-span-2">
        <ol class="relative border-l border-gray-200 space-y-6 dark:border-gray-700">
          <li class="ml-6" v-for="transaction in transactions.state.transactions" :key="transaction.id">
            <transaction-item :transaction="transaction" @edit="openModal" @remove="handleRemove" />
          </li>
        </ol>
      </card>

      <div>
        <card>
          <accounts-overview :accounts="accounts.state.data" />
        </card>
      </div>
    </div>
  </app-layout>
</template>
